{% extends 'base.html.twig' %}

{% block title %}Hello ToDoController!{% endblock %}

{% block body %}
<div class="content">
    <h1>ToDo List</h1>

    {{ form(todo_form) }}

    {% for todo in todos %}
        <p>{{ todo.text }}</p>
    {% endfor %}
</div>
{% endblock %}
