body {
    background-color: lightgray;
}

.content
{
    width: 50%;
    margin: 5px auto;
    background-color: burlywood;
    height: 100%;
    text-align: center;
}

.todo
{
    width: 40%;
    text-align: center;
    margin: 3px auto;
    border: solid thin black;
}

#to_do_form div
{
    display: inline-block;
}

.todo_text
{
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
}

.redact_button
{
    color:black;
    background: greenyellow;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}

.delete_button
{
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    color: black;
    background: #B32929;
}