body {
    background-color: lightgray;
}

.content
{
    width: 50%;
    margin: 5px auto;
    background-color: burlywood;
    height: 100%;
    text-align: center;
}

.todo
{
    width: 40%;
    text-align: center;
    margin: 3px auto;
    border: solid thin black;
}

#to_do_form div
{
    display: inline-block;
}

.todo_text, .textfield
{
    display: inline-block;
    overflow: hidden;
    width: 60%;
    box-sizing: border-box;
}

.button
{
    color: black;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}

.red_button
{
    @extend .button;
    background: #B32929;
}

.green_button
{
    @extend .button;
    background: greenyellow;
}
