<!DOCTYPE html>
<html>
    <head>
        <style>
            .content
            {
                margin: 10px auto;
                width: 50%;
                text-align: center;
            }
            .todo
            {
                margin: 5px auto;
                width: 50%;
                text-align: center;
                border: solid thin black;
            }
            #to_do_form div
            {
                display: inline-block;
            }
        </style>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
